* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Manrope", sans-serif;
}
main {
  padding: 25px;
  background-color: hsl(210, 46%, 95%);
}
.card {
  width: 750px;
  max-width: 100%;
  display: flex;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 25px 50px -25px hsl(217deg 19% 35% / 25%);
}
.main-img {
  width: 41%;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card .content {
  padding: 40px;
  width: 60%;
}
h1 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
p {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6;
  color: hsl(214, 17%, 51%);
  margin-bottom: 20px;
}
.share-area {
  display: flex;
  position: relative;
}
.author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  z-index: 1;
}
.info {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.name {
  font-size: 13px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 5px;
}
.date {
  font-size: 13px;
  font-size: 500;
  color: hsl(212, 23%, 69%);
}
.share-btn {
  background-color: hsl(210, 46%, 95%);
  width: 35px;
  height: 35px;
  margin-left: auto;
  align-self: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 15px;
  z-index: 3;
  transition: 0.5s;
}
.share-btn.active {
  background-color: hsl(214, 17%, 51%);
}
.share-btn.active img {
  filter: brightness(3);
}
.social-share {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 15px 30px 10px;
  border-radius: 10px;
  z-index: 2;
  right: -82px;
  top: -65px;
  box-shadow: 0px 10px 30px -15px hsl(217deg 19% 35%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.social-share.active {
  visibility: visible;
  opacity: 1;
}
.social-share::before {
  content: "";
  position: absolute;
  border: 12px solid;
  border-color: hsl(217, 19%, 35%) transparent transparent;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
.social-share span:first-child {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: 15px;
  margin-top: -5px;
}
.social-icons img {
  cursor: pointer;
}
.social-icons img:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 850px) {
  .card {
    flex-direction: column;
    overflow: hidden;
    margin: 100px auto;
  }
  .main-img {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .card .content {
    width: 100%;
    padding: 0px;
  }
  h1 {
    padding-top: 30px;
  }
  h1,
  p {
    padding-right: 30px;
    padding-left: 30px;
  }
  .share-btn {
    right: 0px;
  }
  .share-area {
    padding: 15px 30px;
    transition: 0.5s;
  }
  .share-area.active {
    background-color: #48556a;
  }
  .share-area.active .info,
  .share-area.active .author-img {
    visibility: hidden;
  }
  .social-share {
    right: auto;
    left: 0px;
    top: 0px;
    padding: 25px 30px;
    background-color: transparent;
  }
  .social-share::before {
    display: none;
  }
}
/* Footer */
footer {
  text-align: center;
  min-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}
footer span {
  padding: 5px;
  color: hsl(217, 19%, 35%);
}
footer span:first-child {
  margin-left: -5px;
}
footer a {
  color: hsl(179, 62%, 43%);
  text-decoration: none;
  transition: 0.3s;
}
footer a:hover {
  text-decoration: underline;
  color: hsl(179, 72%, 53%);
}
